@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@media (max-width: 728px) {
  body {
    font-size: 16px;
  }
  nav img {
    width: 120px;
  }
  nav .largebutton {
    font-size: 1.1dvw;
    width: 20dvw;
    height: 5dvh;
    margin-right: 1dvw;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #fcfcfc 10%, #f4f4f4 100%);
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #1f2937;
  font-weight: 500;
  font-size: 25px;
}

h3 {
  font-family: "Inter", sans-serif;
  color: #4b5563;
  font-weight: 300;
  font-size: 24px;
}

h4 {
  font-family: "Inter", sans-serif;
  color: #1f2937;
  font-weight: 500;
  font-size: 20px;
}

p {
  font-family: "Poppins", sans-serif;
  color: #1f2937;
  font-weight: 400;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1dvw 2dvw;
  background-color: rgba(22, 163, 74, 0.2980392157);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #1f2937;
}

header ul {
  display: flex;
  gap: 2dvw;
  list-style: none;
  margin-left: auto;
  margin-right: 2dvw;
}

nav img {
  width: 150px;
}

nav .largebutton {
  background-color: #16a34a;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 200;
  border: none;
  width: auto;
  height: auto;
  padding: 5px 20px;
  margin-right: 2dvw;
  border-radius: 5px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.greenbutton {
  background-color: #16a34a;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  border: none;
  width: auto;
  height: auto;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.bluebutton {
  background-color: rgba(37, 100, 235, 0.8039215686);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  border: none;
  width: auto;
  height: auto;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.reciclagem {
  width: 400px;
  height: 400px;
}

.header-content {
  max-width: 600px;
  margin-left: 5dvw;
}

article {
  background-color: #f4f4f4;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5dvw;
}

article h2 {
  color: #16a34a;
}

article div {
  text-align: center;
}

main {
  line-height: 1.6;
}

.how-title {
  padding: 40px 0 20px 20px;
}

.how-it-works {
  display: flex;
  gap: 2dvw;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.card {
  width: 400px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.how-it-works li {
  list-style: none;
  font-family: poppins, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.green {
  color: #f4f4f4;
  background-color: #16a34a;
  text-align: center;
  padding: 10px 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.blue {
  color: #f4f4f4;
  background-color: #2563eb;
  text-align: center;
  padding: 10px 10px;
  border-radius: 50%;
  margin-right: 10px;
}

#section2 {
  background-color: #f4f4f4;
  margin: 40px 0;
  padding: 20px;
}

.available-products {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.card_ad {
  width: 250px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_ad img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.quero_ad {
  background-color: #2563eb;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  border: none;
  width: auto;
  height: auto;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.quero_ad:hover {
  background-color: #1e40af;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(55, 0, 255, 0.4705882353);
  text-shadow: #f4f4f4 0px 0px 5px;
}

footer {
  background-color: #1f2937;
  color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
  color: #f4f4f4;
}/*# sourceMappingURL=style.css.map */